@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


header {
    width: 100%;
    height: 160px;
    padding: 1rem;
    background-color: #3e6464;
    color: white;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

input[type="number"], input[type="password"] {
    padding: 0.75rem;
}