@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


header {
    width: 100%;
    height: 160px;
    padding: 1rem;
    background-color: #386565;
    color: white;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

input[type="number"], input[type="password"] {
    padding: 0.75rem;
}

/* Mantem as tabelas escondidas*/

div#patients {
    width: 25rem;
}

table, h4, #data-box, #appointments, #logout {
    display: none;
}

h4 {
    margin-bottom: 1rem;
}

div#data-box {
    margin: 2rem 0;
}

table {
    width: fit-content;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

table thead {
    background-color: #386565;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    font-size: 16px;
}

table td {
    font-size: 14px;
}

button {
    margin: 1rem 0;
}

button#btn {
    display: none;
}

#logout {
    background: tomato;
    color: #fff;
    width: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0;
    cursor: pointer;
}

@media screen and (max-width: 675px) {

    header {
        height: 120px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 15px;
    }

    div#patients {
        width: 300px;
    }

    div#data-box input {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 465px) {

    header {
        height: 120px;
        max-width: 90%;
        text-align: left;
        padding: 1.25rem;
    }


    h1 {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 15px;
    }

    div#patients {
        width: 220px;
        height: 200px;
        margin-bottom: 5rem;
    }

    table th, table td {
        padding: 0.25rem;
        text-align: center;
    }


    div#data-box input {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-top: 1rem;
    }
}