@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
  height: 160px;
  padding: 1rem;
  background-color: #0eadad;
  color: white;
}

header #titles {
  text-align: center;
  margin-bottom: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(255, 255, 109);
  font-weight: bold;
}

main .bg-image {
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem;
}

main .bg-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main h2 {
  margin-bottom: 1.25rem;
  color: rgb(0, 61, 61);
}

main .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

main .info-card {
  height: 300px;
  width: 350px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

main .info-card img {
  margin: 1rem 0;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 1.25rem 0;
}

@media  (max-width: 999px) {

   
    main .bg-image {
    height: 200px;
    margin-bottom: 0;
}

    main .info-card {
    padding: 1rem;
  }

  main .info-card img {
    width: 5rem;
  }
}

@media screen and (max-width: 750px) {
  

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
  }

  nav ul li a {
    font-size: 12px;
  }

  main .info {
    display: flex;
    flex-direction: column;
  }

  main .info-card {
    height: 210px;
    width: 350px;
  }

  main .info-card img {
    width: 5rem;
  }
}

@media screen and (max-width: 420px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    height: 200px;
  }

  h2 {
    margin-top: 1rem;
    font-size: 12px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 8px;
    max-width: 160px;
  }

  main .bg-image {
  height: 100px;
  margin-bottom: 0;
}

  main .info-card {
    height: 210px;
    width: 230px;
    padding: 0.5rem;
  }

  main .info-card img {
    width: 2rem;
  }

  footer p {
    font-size: 12px;
  }
}
