@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

header {
    width: 100%;
    height: 120px;
    padding: 1rem;
    background-color: rgb(0, 128, 128);
    color: white;
}

header #titles {
    text-align: center;
    margin-bottom: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

form {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 20rem;
    height: 20rem;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
    background-color: #f9f9f9;
}

form h2 {
    margin-bottom: 1.25rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 0.75rem;
    background-color: rgb(0, 128, 128);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(35, 205, 205);
    font-weight: bold;
}

@media screen and (max-width: 400px) {

    header {
        height: 120px;
        max-width: 100%;
    }

    main {
        width: 100%;
    }

    h1 {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 15px;
    }
    
    form {
        align-items: center;
        max-width: 90%;
    }

    input, button {
        max-width: 80%;
    }

    form#formLogin {
        height: 200px;
    }

}