@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


header {
    width: 100%;
    height: 160px;
    padding: 1rem;
    background-color: #353365;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
}

form#form-adm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
}

input[type="password"], input[type="text"] {
    padding: 0.75rem;
}

table {
    margin: 0;
    padding: 0;
}

div#medic-info {
    margin: 3rem 0;
    width: 20rem;
}

div#medic-info p {
    margin: 1rem 0;
}

div#medic-info h3 {
    margin-bottom: 1rem;
}

a {
    display: none;
}

button#logout {
    display: none;
    background: tomato;
    color: #fff;
    width: 5rem;
    padding: 1rem;
    border-radius: 5px;
    margin: 2rem 0;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    

    tr, th {
        font-size: 12px;
    }

    div#medic-info {
    margin: 1rem 0;
    width: 10rem;
}
}

