@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header {
    width: 100%;
    height: 160px;
    padding: 1rem;
    background-color: #0eadad;
    color: white;
    margin-bottom: 3rem;
    font-family: "Raleway", sans-serif;
}

div#data-text {
    width: 50%;
    margin: auto;
    padding: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
