@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


header {
    width: 100%;
    height: 120px;
    padding: 1rem;
    background-color: #0eadad;
    color: white;
}

header #titles {
    text-align: center;
    margin-bottom: 2rem;
}

main {
    margin: 2rem 3.5rem;
}

h2#subtitle {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(0, 61, 61);
}

button {
    width: 200px;
    display: block;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    background-color: #0eadad;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #055b5b;
    font-weight: bold;
}